main {
  justify-content: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.login{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1s ease-in-out;
}
/*logo style */
.logo {
  width: 200px;
  margin-top: 50px;
  border-radius: 10px;
 /*  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.1); */
  transition: box-shadow 1s ease-in-out;
}
.logo:hover {
  box-shadow: 0px 0px 4px 4px rgba(253, 78, 212, 0.3);
}

/*form style */
.login-form {
  width: 90%;

 
}
.login-form input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  
  border: none;
  border-bottom: 1px solid #ccc;
}
.login-form i {color: #f4f4f4f4;
    font-size: 20px;
    margin-right: 10px;
}
.login-form button {
  width: 80%;
  padding: 10px;
  margin: 30px 0;
  border: none;
  background-color: #f4f4f4f4;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}
.login-form button:hover {
  background-color: rgba(95, 25, 234, 0.957);
  color: #f4f4f4f4;
}

.login-form a {
  text-decoration: none;
  color: #33333383;
  
}
.login-form a:hover {
  color: rgba(95, 25, 234, 0.957);
}